

@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans');

/*font-family: 'Open Sans', sans-serif;  BODY
font-family: 'Courgette', cursive;  Headers*/


* {
	padding: 0;
	margin: 0;
}

body {
  text-align: center;
  font-family: open sans, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #212E04;
  background-color: #1A86BC;
}

.headerCont {
	width: 100%;
	position: fixed;
	top: 0px;
	overflow: hidden;
}

header {
    background-color: #BDD3DE;/*DELETE*/
    border: 1px black solid;/*DELETE*/
    padding: 20px;/*DELETE*/
    margin: 0px auto;
  /*background-color: #BDD3DE;
  padding: 1.5em;
  color: #265441;*/
}

header p {
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
}

nav {
	background-color: #BDD3DE; /*#E8C66A;DELETE*/
    border: 1px black solid;/*DELETE*/
    /*padding: 20px;DELETE*/
	  /*text-align: right;*/
	font-weight: bold;
	text-align: center;
}

a {
  color: #212E40;
  text-decoration: none;
  font-style: italic;
  /*margin-right: 1em;*/
  display: inline-block;
  padding: 7px;
  width: 7em;
  /*float: left;*/
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

a:hover {
	background-color: #1A86BC;
	color: white;
}

h1 {
	font-family: 'Courgette', cursive;
	font-size: 4em;
	padding: 1em;
}

.joeStuff1 {
	margin-top: 16.15em;
}

.joeStuff1, .joeStuff2 {
	text-align: center;
}

.MenuSubItem {
	background-color: #1A86BC;/*DELETE*/
    border: 1px black solid;/*DELETE*/
    padding: 1.25em;/*DELETE*/
    /*background color: #A2A2A2;*/
	width: 20%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	/*float: left;*/
	display: inline-block;
}

#coffee, #wares {
	background-color: #00667f;
	color: white;
}

#beans, #bites {
	background-color: #77ab59;
}

h1, h2, h3, h4 {
	font-family: 'Courgette', cursive;
}

h2 {
	background-color: #1A86BC;
	padding: .75em;
	font-style: italic;
	font-size: 2em;
}

.LittleHeaders {
	background-color: #1A86BC;
}

h3, h4 {
	background-color: #abaeba;
	padding: .6em;
}

img {
	width: 100%;
}

ul {
	list-style: none;
}

.Item {
	font-size: 1.25em;
	font-weight: 800;
}

.paren {
	font-size: .7em;
	padding: .25em;
	font-style: italic;
}

.Item2 {
	font-size: 1.75em;
	font-weight: 800;
	margin-bottom: 2px;
	padding-bottom: .5em;
}

.Legend {
	background-color: #77ab59; /*#FFC675;#c9df8a;DELETE*/
    border: 1px black solid;/*DELETE*/
    padding: 20px;/*DELETE*/
	width: 60%;
	margin: 1em auto;
	font-family: 'Open Sans', sans-serif;
	/*float: left;*/
	text-align: center;
	clear: both;
	margin-bottom: 8.15em;
	/**/
}

.subTitle1 {
	font-style: italic;
	font-size: 1.25em;
	font-weight: bold;
	margin: .25em;
	display: inline-block;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	font-size: 0;
	height: 0;
}

.blueMtnBkrnd {
	font-family: 'Open Sans', sans-serif;
	background-color: #1A86BC;
	overflow: hidden;
}

.PrimaryPage {
	background-color: #1A86BC;
	width: cover;
	position: relative;
	text-align: center;
	color: white;
	/*border: 1px black solid;*/
}

#BlueMtn {
	width: 30%;
	position: absolute;
	top: 20em;
	left: 1em;
}

#Kona {
	width: 30%;
	position: absolute;
	top: 20em;
	right: 1em;
	clear: both;
}

#SantaInes {
	width: 30%;
	position: absolute;
	bottom: 2em;
	left: 1em;
}

#Peaberry {
	width: 30%;
	position: absolute;
	bottom: 2em;
	right: 1em;
	clear: both;
}

.footerCont {
	width: 100%;
	position: fixed;
	bottom: 0px;
	overflow: hidden;
}

.feet {
	background-color: #BDD3DE;
    border: 1px black solid;
    margin: 0;
    padding: 20px;
	/*text-align: right;*/
	color: #265441;
}

.feet p {
	/*padding: 1em 1em 0 2em;*/
	margin: 0px;
	display: inline-block;
}

.FootAnchor {
	padding: 0;
	margin: 0 10em 0 0;
	color: #212E40;
  	font-style: italic;
  	font-weight: bold;
  	float: right;
}






