* {
	padding: 0;
	margin: 0;
}

body {
  text-align: center;
  background: url(../images/Bluemtns.jpg);
  background-size: cover;
  color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-color: #FFF000;
  padding: 20px;
}

a {
  color: #FFF;
  text-decoration: none;
}

nav a {
  color: #FFF;
  font-style: italic;
  margin-right: 10px;
}

h1 {
  color: #FFF;
}

main {
  color: #FFF;
  padding: 20px;
}

section {

}

h2 {
  color: #FFF;
}

img {
	width: 100%;
}

ul {
	padding-left: 20px;
}

article {
  color: #FFF;
}

h3, h4 {
  color: #FFF;
  margin: 20px 0;
}

footer {
	background-color: #FFF;
	padding: 20px;
	text-align: center;
}






