body {
  text-align: center;
  background: url(../images/Bluemtns.jpg);
  background-size: cover;
  color: #FFF;
  font-family: Helvetica;
}
h1 {
	color: rgb(0,99,0);
	font-size: 40px;
}
p.slogan {
	font-style: italic;
	font-family: Helvetica;
	font-size: 20px;
	color: #00CC00;
}
ul {
    text-align: center;
    list-style-type: circle;
}






